:root {
	--theme-typography-primary-font: 'Rajdhani';
	--theme-typography-custom-font-url: '';
	--primary-font-family: 'Rajdhani', 'Quantico', sans-serif;
	--fallback-font-family: 'Chakra Petch', 'Noto Sans', sans-serif;
	--font-family: var(--primary-font-family), var(--fallback-font-family), sans-serif;
	--numeric-font-family: 'Rajdhani', 'JetBrains Mono', monospace;
}
