.radar {
	position: absolute;
	top: var(--lan66-radar-top, 1.5rem);
	left: var(--lan66-radar-left, 2.5rem);

	width: var(--layout-radar-width, var(--radar-width));
	aspect-ratio: 1;

	overflow: hidden !important; /* Definitive clip for rogue markers */
}

.radar-viewport {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

img.radar-image {
	width: 100%;
	height: 100%;
	display: block;
}

img.radar-image.--transparent-background {
	filter: var(--filter-drop-shadow);
}
